

body {
    background-image: url("../img/pattern.jpg");
    background-color: #cccccc;
    margin: 0;
}

/*------------- Nav Bar -------------*/
header {
    background-color: white;
    position: sticky;
    top: 0;
    
}
nav {
    float: right;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline;
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
}

/*------------- Article -------------*/
section {
    background-color: white;
    width: 80%;
    margin: auto;
}
h1 {
    padding: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
}
article {
    width: 95%;
    margin: auto;
    border-bottom: 2px solid grey;
}
article a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*------------- Footer -------------*/
footer {
    color: white;
    text-align: center;
    background-color: black;
    padding: 1px;
    position: relative;
    top: 50px;
}